body{
    height: 185vh; 
    background-color: rgb(17, 13, 13);
    background-image: url('./images/summertime_image.webp'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    color: #fad17a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.05em;
    margin-left: 5%;
    margin-top: 0%;
    transform: scaleY(1.1);
}

.logo{
    width: 4.5%;
    height: auto;
    border-radius: 50%;
    margin: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.intro{
    display: flex;
    text-align: left;
    color: #fad17a;
    margin-left: 28%;
    margin-right: 28%;
    font-size: 110%;
    font-weight: lighter;
}

.click{
    display: flex;
    text-align: center;
    color: #fad17a;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 110%;
    font-weight: 110;
    justify-content: center;
    margin-top: 2%;
    letter-spacing: em;
    transform: scaleY(1.1);
}

.links {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 8vh;
    
}

.links a {
    display: inline-block;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 5px;
}

.facebook {
    background-image: url(./images/fb.svg);
    width: 50px;  
    height: 45px;
}

.youtube {
    background-image: url(./images/youtube-123.svg);
    width: 30px;  
    height: 35px;
}

.instagram {
    background-image: url(./images/black-instagram-transparent-logo-10671.svg);
    width: 30px; 
    height: 35px; 
}

.soundcloud {
    background-image: url(./images/soundcloud-logo-svgrepo-com.svg);
    width: 50px;  
    height: 35px; 
}

.musicarticle{
    color: #fad17a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.05em;
    margin-top: 3%;
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
    transform: scaleY(1.1);
}

.content {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 4%; 
    margin-top: 4.5%;
    margin-left: 8%;
    margin-right: 8%;
    min-height: 65%;
}

.first{
    color: #fad17a;
    font-weight: bold;
    letter-spacing: em;
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.05em;
    transform: scaleY(1.1);
    min-height: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.firsttext{
    margin-top: 12%;
    font-size: 57%;
    font-weight: 100;
    letter-spacing: 0em;
}

p{
    font-size: 50%;
    margin-top: 15%;
    letter-spacing: 0em;

}

.part4{
    background-color: #010101;
    padding: 20px 0px;
    width: 100%;
    margin:0;
}

.bottom-footer{
    width: 100%;   
}

.bottom-footer-text{
    color: white;
    text-align: center;
}

.otherpages{
    color: inherit;
    text-decoration: none; 
}