body{
    background-color: black;
}
h1{
    color: #fad17a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.05em;
    margin-left: 5%;
    margin-top: 2%;
    transform: scaleY(1.1);
}

.title{
    color: #fad17a;
    font-weight: bold;
    letter-spacing: em;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.05em;
    transform: scaleY(1.1);
    min-height: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    padding-top:10%;
    text-align: left;
    width: 45%;
    margin: 0 auto;
}
